<div app-main controller="app.AppMain">
  <style>

    [tag="match-conatiner"] {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  </style>
  Player One: <input type="text" tag="player-a-name" /><br />
  Player Two: <input type="text" tag="player-b-name" /><br />
  <button type="button" tag="start-match">Start Match</button><br />
  Press any key on the left half of the keyboard for a left side point.<br />
  Press any key on the right half of the keyboard for a right side point.
  <span>
  <div tag="match-container" component="./Match.html"></div>
</div>
