<div match controller="app.Match">
  <style>
    [match] [tag="player-side-container"] {
      position: relative;
      width: 100%;
      height: 200px;
    }

    [match] [tag="left-player"] {
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%;
      font-size: 2em;
      background-color: rgba(255, 100, 100, 0.8);
    }

    [match] [tag="right-player"] {
      position: absolute;
      width: 50%;
      right: 0;
      height: 100%;
      font-size: 2em;
      background-color: rgba(100, 100, 255, 0.8);
    }
  </style>
  Serve: <span tag="server"></span><br />
  <div tag="player-side-container">
    <div class="player" tag="left-player">
      <span tag="left-player-name"></span><br />
      <span tag="left-player-score"></span>
    </div>
    <div class="player" tag="right-player">
      <span tag="right-player-name"></span><br />
      <span tag="right-player-score"></span>
    </div>
  </div>

</div>
